In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

C:\Users\mynam\AppData\Local\Temp\ipykernel_5584\1027001062.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
db_username = "root"
db_password = ")Q9w8e7r6t5y4u3i2o1p"
db_ip = "localhost"
db_name = 'curriculumchecklist'
db_connection = create_engine("mysql+mysqlconnector://{0}:{1}@{2}/{3}".format(db_username, db_password, db_ip, db_name))

In [3]:
student = {"student_id": "23-1512-736", "student_email": "c23.com", "student_dept": "CS", "program_id": "BSCS",
           "student_f_name": "Juan", "student_l_name": "Sacdalan", "student_m_name": "Dela Cruz"}
student

{'student_id': '23-1512-736',
 'student_email': 'c23.com',
 'student_dept': 'CS',
 'program_id': 'BSCS',
 'student_f_name': 'Juan',
 'student_l_name': 'Sacdalan',
 'student_m_name': 'Dela Cruz'}

In [12]:
query = text("""SELECT courses.course_id FROM program_courses
                INNER JOIN courses
                ON courses.course_id = program_courses.course_id
                WHERE program_courses.program_id = :program_id
             """)
params = {"program_id": student["program_id"]}
courses = pd.read_sql(query, db_connection, params=params)
courses

   course_id
0    BCS1101
1    CCS1101
2   CCS1101L
3    CCS1102
4   CCS1102L
..       ...
72   BCS4115
73   CCS4206
74   BCS4114
75  BCS4114L
76    FCL800

[77 rows x 1 columns]

In [8]:
courses["student_id"] = student["student_id"]
courses

   course_id   student_id
0    BCS1101  23-1512-736
1    CCS1101  23-1512-736
2   CCS1101L  23-1512-736
3    CCS1102  23-1512-736
4   CCS1102L  23-1512-736
..       ...          ...
72   BCS4115  23-1512-736
73   CCS4206  23-1512-736
74   BCS4114  23-1512-736
75  BCS4114L  23-1512-736
76    FCL800  23-1512-736

[77 rows x 2 columns]

In [11]:
student_df = pd.DataFrame([student])
student_df.to_sql("students", db_connection, if_exists="append", index=False)
courses.to_sql("students_courses", db_connection, if_exists="append", index=False)

77